/*
  LoL Displays
  Namespace: #pageLeague
*/
#pageLeague {
  
  .results {
    text-align:left;
    .profileIcon {
      position:relative;
      display:inline-block;
      margin-right:10px;
    }
    .basic {
      position:relative;
      display:inline-block;
      text-align:left;
      vertical-align: top;
      li {
        display:block;
        font-size:1.4em;
      }
      .rankedIcon {
        display:inline;
      }
    }
  }
  
  
}