/*
  LoL Displays
  Namespace: #pageLeague
*/
#pageLeague {
  // Global
  // ----
  padding-top:90px;
  
  h1 {
    //override
    font-size:3em;
    margin-bottom:.55em;
  }
  h3 {
    display:block;
    padding:6px;
    font-size:2.2em;
    margin:0 -15px 10px -15px;
    @media (max-width:767px) {
      font-size:1.55em;
    }
  }
  .singleGame {
    padding-top:15px;
    padding-bottom:15px;
    font-size:1em;
    text-align:center;
    &.true {background-color:rgba(0,255,0,.23);}
    &.false {background-color:rgba(255,0,0,.23);}
    img {
      max-width:100%;
      height:auto;
      @media (max-width:767px) {
        height:60px;
        width:60px;
        margin-right:10px;
        display:inline-block;
      }
    }
    p {
      display:block;
      margin-top:10px;
      @media (max-width:767px) {
        display:inline-block;
        margin-top:0;
        vertical-align:top;
      }
    }
    @media(max-width:767px) {
      text-align:left;
      border-bottom:1px solid #f0f0f0;
    }
  }
  
  // Basic
  // ----
  .basic {
    height:100%;
    padding-bottom:15px;
    text-align:center;
    @media (max-width:767px) {
      width:100%;
      padding-top:10px;
      padding-bottom:10px;
      border:0;
      margin-bottom:15px;
    }
  }
  .profileIcon {
    max-width:64px;
    height:auto;
    margin-right:10px;
    display:inline-block;
  }
  .level {
    display:inline-block;
    vertical-align:top;
  }
  .levelTier {
    text-align:left;
  }
  .tier {
    display:block;
    text-align:left;
    position:relative;
    img {
      float:left;
      max-width:32px;
      height:auto;
      margin-right:5px;
    }
    p {
      margin-top:4px;
      float:left;
      font-size:1em;
    }
  }
  // Ranked
  // ----
  .ranked {
    text-align:center;
    //background-color:rgba(0,0,0,.03);
    margin-top:30px;
    @media (max-width:767px) {
      margin-top:0;
      margin-bottom:15px;
    }
    p  {
      position:relative;
      display:block;
    }
    .rankedWL {
      .w,.l {
        padding:6px;
        float:left;
        width:50%;
      }
      .w {
        background-color:rgba(0,255,0,.23);
      }
      .l {background-color:rgba(255,0,0,.23);}
    }
  }
  
  // Recent
  // ----
  .recent {
    text-align:center;  
    //background-color:rgba(0,0,0,.03);
    margin-top:30px;
    @media (max-width:767px) {
      margin-top:0;
      margin-bottom:15px;
    }
  }
}