<section class="container-fluid" id="pageHome">
  <!-- Hero -->
  <section class="row">
    <div class="col-sm-12">
      <div class="hero" id="confirm">
        <div class="title">
          <h1>Welcome to <span>Deluxe</span></h1>
          <p>
            You've initiated registration.<br/>Continue to character creation?
          </p>
          <div class="row">
            <div class="col-xs-6" id="no">
              <h4><span class="typcn typcn-arrow-left"></span> no thanks</h4>
            </div>
            <div class="col-xs-6" id="yes">
              <h4>let's go <span class="typcn typcn-arrow-right"></span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
</section>