{{> header}}

  <section class="container-fluid" id="pageLeague">
 
    {{#if summoner}}
    
    <!-- Display Results -->
    
      <section class="row return">
        
        <!--  Basic Info -->
        <div class="col-sm-12 basic">
            <h1><span>{{summoner.name}}</span></h1>
            <img class="profileIcon" src ="{{profileIcon}}" />
            <div class="level">
              Level {{summoner.summonerLevel}}
              {{#if summoner.league}}
              <br />
              <div class="tier">
                <img src="{{tierIcon}}" />
                <p>
                  {{leagueSingle.division}}
                </p>
              </div>
              {{/if}}
            </div>
        </div>
        
        <!-- Ranked Stats -->
        {{#if leagueSingle.has}}
        <div class="rowranked">
          <h3>Ranked</h3>
          <p class="rankedWL clearfix">
            <span class="w">
              {{leagueSingle.wins}}
            </span>
            <span class="l">
              {{leagueSingle.losses}}
            </span>
          </p>
        </div>
        {{/if}}
        
        <!-- Recent Stats -->
        <div class="col-sm-12 recent">
          <h3>Recent</h3>
          <div class="row gamesWrap">
            {{#recentGames}}
              <div class="col-md-4 col-sm-6 singleGame {{stats.win}}" data-toggle="tooltip" data-placement="top" title="{{gameType}}">
                <img src="images/lolstatic/5.18.1/img/champion/{{championId}}.png" />
                <p>
                  {{#if stats.championsKilled}}{{stats.championsKilled}}{{else}}0{{/if}}/{{stats.numDeaths}}<br />
                  {{#if stats.minionsKilled}}{{stats.minionsKilled}}{{else}}0{{/if}} CS
                </p>
            </div>
            {{/recentGames}}  
          </div>
        </div>
        
      </section>
    {{/if}}
    
    <!-- Display Error -->
    {{#if error}}
    <section class="row">
      <div class="col-sm-12">
        <pre><span>{{error}}</span></pre>
      </div>
    </section>
    {{/if}}
    

  </section>

{{> footer}}